/*Name: Nicholas Brown
    ID: 30032159*/
    body {

        font-size: 10pt;
      
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      
        color: black;
    
        background-color: white;
      
      
      }

      nav{
        background-color: paleturquoise;
      }
      
      
      h1 {
      
        font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
      
        font-weight: bold;
    
      
      }
    
      p  {
        font-family: 'Times New Roman', Times, serif;
      }
        
    