/*Name: Nicholas Brown
    ID: 30032159*/
body {

    font-size: 10pt;
  
    font-family:serif;
  
    color: white;

    background-color: black;
  
  
  }
  
  
  h1 {
  
    font-size: 45pt;

    font-family: serif;
  
    font-weight: bold;

  
  }

  h3 {

    font-size: 72pt;
  
    font-family: serif;
  
    font-weight: bold;

  
  }
